<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    <!-- 配置hibernate的基本属性 -->
		<!-- 1.数据源需配到IOC容器中，所以在此不再配置数据源 2.关联.hbm.xml也在IOC容器配置SessionFactory实列时在进行配置 
			3.配置hibernate的基本属性：SQL显示及格式化，生成数据表的策略以及二级缓存等。 -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!-- validate update create -->
		<mapping class="idv.caemasar.entity.User" />
		<mapping class="idv.caemasar.entity.UploadFile" />
	</session-factory>
</hibernate-configuration>
